 body {color: rgb(17, 51, 61); background-color: rgb(101, 193, 255);text-align: center;}
 h1 {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;text-align: center; }
li {font-size: x-large; text-align: center;}
p {font-size: x-large; text-align: center;}
.caixa {
  width: 100px;         
  padding: 10px;        
  border: 5px solid #29b0b4; 
  margin: 10px;         
  background-color: #40bbda;
}
button::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 16px;
  background-image: url('/favicon-16x16.png');
  background-size: cover;
  margin-right: 2px;
}
ul {text-align: center;}